# データ分析演習 week06 演習課題
- 氏名：<氏名に置き換えてください>
- 学生番号：<学生番号に置き換えてください>

## はじめに
1. このファイルの名前の(JBxxxxxx)を自分の学生番号にしてください．
2. 上記の氏名と学生番号を忘れずに記入してください．

## 提出方法
- GitHub Desktopを通じてGitHubへ提出
- 締切: **6月11日（木）**

## この演習資料の進め方
1. 教科書「東京大学のデータサインティスト育成講座」 ch2.4，および教科書サポートページからダウンロードしたノートブック（Chapter2.ipynbの2.4）を一通り学習してください
2. その後，教科書およびこの資料前半の補足を参考にしながら以下の演習課題を解いてください．
---

はじめに，本日の演習で使うモジュールをインポートしておきます．以下のセルを実行してください．

In [ ]:
import pandas as pd # pandas モジュールの読み込み．
from pandas import DataFrame #  pandasが提供するDataFrame関数を単にDataFrame で呼べるようにする．

## 教科書の補足

### 補足: データフレームから特定の列や列集合だけ抽出する(ch.2.4.4)

DataFrameから特定列のみを取り出す方法がいくつかあるので，補足しておきます．

In [ ]:
data = {'ID':['100','101','102','103','104'],
               'City':['Tokyo','Osaka','Kyoto','Hokkaido','Tokyo'],
               'Birth_year':[1990,1989,1992,1997,1982],
               'Name':['Hiroshi','Akiko','Yuki','Satoru','Steve']}

df = DataFrame(data) # データフレームを作成し変数 df に代入 
df # df の中身を表示

まずは，教科書ch2.4.4に書かれている方法です

In [ ]:
df.Birth_year  #列名を . の後に書く

`df['列名']`　と書くことでも特定の列を抽出できます

In [ ]:
df['Birth_year'] # この方法でも特定の列を抽出できます

また， 列名の配列を指定すると，複数の列が抽出できます（これは教科書にも書かれている方法です）．今日の演習課題の最後でも使います．

In [ ]:
df[['ID', 'Birth_year']] # ID と Birth_year の列だけ抽出 []の数に注意して見てください．

最後の方法は参考程度にとどめておいてもらったら大丈夫ですが，1つの列名でも`df[['列名']]`として`df[]`の中身を配列にすると，結果はDataFrame型となります．

In [ ]:
df[['Birth_year']]  # df['Birth_year'] と結果の表示のされ方が異なっていることを確認してみてください

pandasのデータフレームに対する行や列のへアクセスは非常に複雑ですので，徐々に慣れていけば十分です．

### 補足: DataFrameのソート(ch.2.4.8)

データを並び替える方法として， 教科書の方法以外にも， `sort_values()` という関数を使う方法がありよく使用します．

In [ ]:
data = {'ID':['100','101','102','103','104'],
               'City':['Tokyo','Osaka','Kyoto','Hokkaido','Tokyo'],
               'Birth_year':[1990,1989,1992,1997,1982],
               'Name':['Hiroshi','Akiko','Yuki','Satoru','Steve']}

df = DataFrame(data) # データフレームを作成し変数 df に代入 
df # df の中身を表示

`sort_values('ソートしたい列名')` のように使います．

In [ ]:
df.sort_values('Birth_year') #Birth_year の昇順でデータフレーム内のデータをソート

また，`ascending=False`を引数として与えると，降順で並び替えることができます．

In [ ]:
df.sort_values('Birth_year', ascending=False) #Birth_year の降順でデータフレーム内のデータをソート

数値以外の列でもソートできます．

In [ ]:
df.sort_values('Name') #文字列に対しては辞書順に並びます

---

## ここから演習課題

- 教科書の練習問題 2-7 - 2-9を 一部改変して作成しています．
- [ここにコードを書く] の箇所を修正してセルを完成していってください．
- 出力がなんか変だな，と思ったら メニューの Kernel -> Restart & Clean outputをしてノートブックの一番上からセルを順次実行していってみてください．

学生5名に対して性別（`Sex`），小遣い（`Money`），名前（`Name`）を調査し，結果をpandasのDataFrameとして変数 df に代入した．

In [ ]:
data = {'ID':['1','2','3','4','5'],
               'Sex':['F','F','M','M','F'], #F = female（女性）， M= man（男性）です
               'Money':[1000,2000,500,300,700],
               'Name':['Saito','Horie','Kondo','Kawada','Matsubara']}  # このように辞書（dict）からデータフレームを作ることができます

df = DataFrame(data) #データフレームを作成． 変数 df は DataFrameの略でよく変数名として用いられます．
df # dfの中身を表示

### 課題1. 変数 df から `Money` が1,000以上の人を絞り込み，df_rich という変数に代入し，df_rich を表示せよ
- 教科書 ch2.4.5

In [ ]:
df_rich = [ここにコードを書く] # ch.2.4.5 のデータの抽出参照． df[df['...'] >= 1000]  の ... に入れるべき文字を考える
df_rich # df_rich を表示

正しく書けていれば，以下の様な出力が得られるはずです．

	ID	Sex	Money	Name
a	1	F	1000	Saito
b	2	F	2000	Horie

### 課題2. 変数 df に対して，性別（`M`, `F`）ごとの `Money` の平均を求めよ
- 教科書 ch2.4.7

`groupby()`を使います． いま，性別ごとに `Money` の平均を求めたいわけですので， `groupby()`は`groupby('Sex')`としてやれば良いですね．

In [ ]:
df.[ここにコードを書く].mean() #ch.2.4.7 データの集計参照

正しく求められていれば，下記のような出力が表示されるはずです．

Sex
F    1233.333
M     400.000
Name: Money, dtype: float64

`M`よりも`F`の方が，小遣いの平均が多いことが分かります．このように，`groupby('列名')`を用いることで，その列の変数の値ごとに，別の列の平均や最大値といった統計量を求めることができます．Excelの課題で行ったピボットテーブルのような分析だと思えば理解がすすむと思います．

`mean()`の代わりに， `max()`や`min()`， `median()` などで各種統計量を求めることができます. たとえば，それぞれの性別ごとのお小遣いの最大値を求める場合は，以下の様にすれば求めることができます．

In [ ]:
df.groupby('Sex')['Money'].max() # 性別ごとに，Moneyの最大値を求める

### 課題3. df と df_add を `pd.merge()`で結合し，結合した結果を変数 df_merged に代入せよ
- 教科書 ch.2.4.6

df.merge() に2つのデータフレームを入れてあげることで，2つのデータフレームを結合することができます．

いま，この学生5名のうち4名に対して，数学と英語の成績データを得た．その結果をDataFrameとして変数 df_add に代入した．

In [ ]:
additional_data = {'ID':['1','2','3','4'],
               'Math':[50,43,33,76],
               'English':[90,30,20,50]
                  }

df_add = DataFrame(additional_data) # データフレームを作成
df_add #df_addの中身を表示

さて，変数 df と df_add を pd.merge() で結合し，結合した結果を変数 df_merged に代入してみましょう．

In [ ]:
df_merged = [ここにコードを書く] # pd.mergeを使って2つのデータフレームを結合する (ch.2.4.6)
df_merged # df_mergedを表示

正しく結合できていれば，以下の様な表示になります．  IDが同じ人のデータが結合されていることが分かります．データの結合方法については様々な種類があり，詳しくは教科書6章で扱います．

    ID	Sex	Money	Name	Math	English
0	1	F	1000	Saito	50	90
1	2	F	2000	Horie	43	30
2	3	M	500	Kondo	33	20
3	4	M	300	Kawada	76	50

### 課題4. 変数 df_merged に対して，性別（`M`, `F`）ごとに`Math`と`English`の平均を求めよ

さて， 最後に，結合したデータを用いて，性別ごとに数学と英語の平均点を求めてみます．
いろいろ方法はあるのですが， ここではまず，結合後のデータの全ての量的データに対して，性別ごとの平均を求めてみます．

課題2. と同様に `groupby()` を用います． `df_merged.grouby('Sex')`のあとに列名を指定せず，直接 `df_merged.groupby('Sex').mean()` とすると，df_mergedの全ての量的データに対して，性別ごとに平均を求めることができます．

In [ ]:
df_merged.groupby('Sex').mean()  # 全ての量的データに対して，性別ごとに平均を求める

以下の様な出力になるはずです

	Money	Math	English
Sex			
F	1500.0	46.5	60.0
M	400.0	54.5	35.0

今回扱ったデータは `Money`, `Math`, `English` という3つの列が量的データですので，それぞれについて，性別ごとの平均が求められていることが分かります．

さて，課題は `Math`と`English`の平均点を求めることでしたので，  `df_merged.groupby('Sex').mean()` の結果から `Math`と`English`の列だけ抽出します．  `df_merged.groupby('Sex').mean()` の結果もデータフレームですので，その結果から `Math`と`English`の列を抽出します． 2つの列を抽出する方法は 教科書ch.2.4.4 や本資料の前半に書いてあります．

In [ ]:
df_merged.groupby('Sex').mean()[ここにコードを書く] # ラベル名がMathとEnglishの列だけ抽出する

正しく求められていれば，下記のような結果が得られます．

	Math	English
Sex		
F	46.5	60.0
M	54.5	35.0

なお，  `[['Math', 'English']]`とすべきところを `['Math', 'English']` 　と書いた人は，セルを実行した際に `FutureWarning`という警告メッセージが出たと思います．これは，「現在はそのコードで動いているけど将来的にこのコードで動く保証はないよ」という警告メッセージです． つまり，ライブラリとしては望ましくない書き方ですので， `[['Math', 'English']]`と書き換えて再度実行してください．

演習課題は以上です．

今週の課題ではpandasによるデータフレームの扱いについて，機能のごく一部ですが触ってみました． 本講義のExcelで行った，VLOOKUPを用いた複数のデータの結合や，ピボットテーブルによる集約などがpandasでもできる，ということが分かれば本演習としては十分です．

ノートブックに氏名や学生番号が記載されていなかったり，ファイル名がJBxxxxxxのままだったり，という人が見受けられます．今一度確認してからGitHub Desktopから提出してください．また，提出できているかどうかについては， [GitHub](http://github.com/)にログインして確認してみてください．